<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230038428073-h41m0stmqqbmetls4sa7r6dll7dug52p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230038428073-h41m0stmqqbmetls4sa7r6dll7dug52p</string>
	<key>API_KEY</key>
	<string>AIzaSyARNn0Cz1qAldoLaDvcrQGwlv2ybsnCOYs</string>
	<key>GCM_SENDER_ID</key>
	<string>230038428073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiendaMascotas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tiendamascotas-f8f57</string>
	<key>STORAGE_BUCKET</key>
	<string>tiendamascotas-f8f57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230038428073:ios:d4e5d604d1965b050c8cb8</string>
</dict>
</plist>